* {
    font-family: Arial, Helvetica, sans-serif;
}
/* dimensione dell'immagine principale */
img {
  width: 100%;
  display: block;
  z-index: 1;
}
.contenitorePrincipale {
  position: relative; /*necessario per il posizionamento delle scritte, relativa*/
  margin: auto;
  max-width: 100%;
}
/* posizionamento delle scritte con l'utilizzo di absolute e relative*/
.contenitoreScritte {
  position: absolute; /*grazie a relative, si posiziona in relazione all'immagine*/
  top: 65%; /*centra la scritta sull'asse verticale*/
  left: 5%; /*centra la scritta sull'asse orizzontale*/
  padding: 5px;
  z-index: 0;
}
/*caratteristiche delle scritte */
h3, p {
    
    background-color:white;
    letter-spacing: 1px;
    padding: 4px;
    font-size: 15px;
   

}
/* caratteristico del solo h3 ADIDAS SPORT */
h3 {
    width: max-content;
    padding: 8px;
    font-size: large;

}
/*caratteristiche del bottone acquista*/
.buttonAcquista {
    position: relative; /*necessaria per poter posizionare il secondo bordo*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    background-color: white;
    padding: 16px 28px;
    border: none;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}
/* caratteristiche della freccia di Acquista*/
span {
    margin-left: 10px;
    font-size: 20px;
    
}

/*creazione del secondo bordo sottostante al bottone acquista*/

.buttonAcquista::after{
    content:"";
    position: absolute; /*per posizionare il secondo bordo relativo al bottone*/
    width: 100%;
    height: 100%;
    border: 1px solid white; /*creazione del secondo bordo*/
    left: 3%;
    bottom: -7px;
    z-index: -1 ; /*per far si che il bordo vada dietro al bottone*/
}

/*per far si che il colore del secondo bordo cambi al passaggio del cursore*/

.buttonAcquista:hover::after{

    border-color: #c5c5c5;
}
