.container-card {
  display: flex;
  gap: 10px;
  padding-left: 110px;
  padding-right: 110px;
  position: relative;
}

.link {
  transform: translateY(50%);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:45px;
  height: 45px;
}

button svg:hover{
  color:grey;
}

.header-card {
  display: flex;
  justify-content: space-between;
  margin-left: 108px;
  margin-right:150px;
  margin-bottom: 30px;
}

.header-card p{
  font-size: 24px;
  letter-spacing: 0.2em;
  margin:5px 0px 0px;
  font-weight: 750;
  font-family:Arial, Helvetica, sans-serif;
}

.header-card .link a{ 
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black ;

}

.header-card .link a:hover{
  background-color: black;
  color: white;
  transition:all ;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow-x: hidden;
    overflow-y: scroll; */
}
.card {
  height: 50%;
  box-sizing: border-box;
  /* overflow: hidden;
  position: relative; */
}

.card:hover {
  border: 1px solid rgb(0, 0, 0);
}

.card:hover .img-1 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_13_02_dmt_d_48446d9d29.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-2 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_19_02_dmt_d_b0ce93b4bf.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-3 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_21_02_dmt_d_23ed574f7e.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-4 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_6_02_dmt_d_b7a92ad234.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-5 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_9_02_dmt_d_b82ef01761.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-6 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_8_02_dmt_d_50e781a407.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-7 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_17_02_dmt_d_fab494d3bc.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}
.card:hover .img-8 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_28_02_dmt_d_b900fcf87f.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.image img {
  width: 300px;
  height: auto;
}

.card .footer p{
 padding-left: 16px;
}

 
