/* Root del sito */

:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --main-colr-gray: #eceff1;
    --font-size-base: 11px;
    --font-family: Helvetica, Arial, sans-serif;
    --font-weight: 700;
    --line-height: 1.2;
    --letter-spacing: .1em;
    --search-font: AdihausDIN;
}


/* Sviluppo del Header */

body {
    margin: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

.header {
    cursor: pointer;
    overflow: hidden;
}

.black_line {
    background-color: var(--main-color-black);
    height: 45px;
    width: 100%;
    display: flex;
    color: var(--main-color-white);
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight);
    flex-wrap: nowrap;
}

.half_container {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

.lista_link_1 {
    display: flex;
    list-style: none;
    gap: 10px;
    font-weight: 12px;
    margin-right: 40px;
    flex-wrap: nowrap;
}

.link1 {
    text-decoration: none;
    color: var(--main-color-black);
    font-weight: 12px;
    padding: 5px;
    margin: 5px;
    font-family: var(--font-family);
    font-weight: 200;

}

.last_container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.container_logo {
    width: 60px;
    height: 60px;
    margin-left: 40px;

}

.lista_link_2 {
    display: flex;
    list-style: none;
    gap: 10px;
    height: 100%;
    padding: 10px;
}

.link2 {
    font-family: var(--font-family);
    color: var(--main-color-black);
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.icon_container {
    display: flex;
    width: 50px;
    margin: auto;
    justify-content: center;
}

#cerca {
    background-color: var(--main-colr-gray);
    border: none;
    height: 30px;
    width: 260px;
    margin: auto;
    background-image: url(icons/search.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    max-width: 260px;
}

#cerca::placeholder {
    padding: 10px;
    color: var(--main-color-black);
    font-family: var(--font-family);
    font-weight: lighter;
    font-size: small;
}

.svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
}


/* Contenuti Hover */

.link1:hover {
    text-decoration: underline;
}

.link2:hover {
    text-decoration: underline;
}



/* Contenuti nascosti */

.hidden_container {
    display: none;
}

#hidden_p {
    display: none;
}


/* Contenuti Media Query */

@media screen and (max-width:780px) {
    .black_line {
        color: var(--main-color-black);
        position: relative;
    }

    #hidden_p {
        display: flex;
        text-align: center;
        flex-wrap: nowrap;
        color: var(--main-color-white);
        position: absolute;
    }

    .lista_link_1 {
        display: none;
    }

    .lista_link_2 {
        display: none;
    }

    .container_logo {
        display: none;
    }

    .icon_container {
        display: none;
    }

    .hidden_container {
        display: flex;
        gap: 100px;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: flex;
        gap: 30px;
        width: 48px;
        height: 48px;
        margin: 20px;
        justify-content: start;
        flex-wrap: nowrap;
    }

    .hidden_container_logo {
        align-content:center;
        width: 48px;
        height: 48px;
        margin: 20px 180px;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .hidden_icon {
        display: flex;
        gap: 30px;
        width: 48px;
        height: 48px;
        margin: 20px;
        justify-content: end;
        flex-wrap: nowrap;
    }

}