/* Header CSS*/
:root {
  --main-colr-gray: #eceff1;
  --main-color-white: white;
  --main-color-lightgray: #c9d7da;
  --main-color-darkgray: #282c31;
  --main-color-black: black;
  --main-color-yellow: #ede734;
  --font-size-base: 11px;
  --font-size-footer-small: 12px;
  --font-size-footer-base: 14px;
  --font-size-footer-medium: 20px;
  --font-size-footer-large: 32px;
  --search-font: AdihausDIN;
  --font-family: "AdihausDIN", "Helvetica", "Arial", sans-serif;
  --font-family-cn: "AdihausDIN_cn", "Helvetica", "Arial", sans-serif;
  --font-family-bold: "AdihausDIN_bold", "Helvetica", "Arial", sans-serif;
  --font-weight: 700;
  --line-height: 1.2;
  --letter-spacing: 0.1em;
  --footer-width: 90vw;
}

body {
  margin: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  overflow-x: hidden;
  width: 100vw;
}

.display-flex {
  display: flex;
}

.align-e-justifyContent-center {
  justify-content: center;
  align-items: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.p-relative {
  position: relative;
}

/* Sviluppo del Header */
.header {
  cursor: pointer;
  overflow: hidden;
}

.black_line {
  background-color: var(--main-color-black);
  height: 45px;
  width: 100%;
  color: var(--main-color-white);
  font-weight: var(--font-weight);
}

.half_container {
  justify-content: end;
}

.lista_link_1 {
  list-style: none;
  gap: 10px;
  font-weight: 12px;
  margin-right: 40px;
}

.hamburger {
  flex-grow: 1;
}

#menuHamburger {
  display: block;
  height: 24px;
  width: auto;
  margin: 0 25px 0 10px;
}

#pn {
  display: block;
  height: 24px;
  width: auto;
}

#sn {
  display: block;
  height: 24px;
  width: auto;
}

#bag_hidden {
  display: block;
  height: 24px;
  width: auto;
  margin-right: 10px;
}

#wn {
  display: block;
  height: 24px;
  width: auto;
}

#ln {
  display: block;
  height: 24px;
  width: auto;
}


.hidden_icon {
  flex-grow: 1;
}

.link1 {
  text-decoration: none;
  color: var(--main-color-black);
  font-weight: 12px;
  padding: 5px;
  margin: 5px;
  font-family: var(--font-family);
  font-weight: 200;
}

.last_container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}

.container_logo {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}

.lista_link_2 {
  list-style: none;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

.link2 {
  font-family: var(--font-family);
  color: var(--main-color-black);
  font-weight: 400;
  font-size: medium;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.icon_container {
  width: 50px;
  margin: auto;
}

#cerca {
  background-color: var(--main-colr-gray);
  border: none;
  height: 30px;
  width: 280px;
  margin: auto;
  background-image: url(icons/search.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
  max-width: 260px;
}

#cerca::placeholder {
  padding: 10px;
  color: var(--main-color-black);
  font-family: var(--font-family);
  font-weight: lighter;
  font-size: small;
}

.svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: 5px;
}

/* Contenuti Hover */
.link1:hover {
  text-decoration: underline;
}

.link2:hover {
  text-decoration: underline;
}

/* Contenuti nascosti */
.hidden_container {
  display: none;
  width: 100vw;
  width: 100vw;
}

#tooltip {
  position: absolute;
  color: var(--main-color-black);
  background-color: var(--main-color-white);
  padding: 20px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0px;
  left: 80%;
  top: 140px;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
  display: none;
}

.menuNascosto {
  position: fixed;
  z-index: 100;
  width: 100vw;
  padding: 0px;
  background-color: var(--main-color-white);
  top: 0;
  transition: all 1000ms ease;
  left: -110vw;
  height: 100%;
  margin: 0;
}

#listaNascosta {
  margin-top: 0px;
  padding: 0px;
}

#logoNascosto {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 45%;
  top: 1%;
}

#closer {
  position: absolute;
  right: 10%;
  top: 3%;
}

.separatore {
  border-color: var(--main-colr-gray);
  margin: 0px 0 10px 0;
  border-style: solid;
  border-width: 1px ;
  
}

#separatore2 {
  margin: 60px;
}

#lingua {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 3px;
  left: 25px;
}

#italy {
  position: relative;
  left: 50px;
  top: 5px;
}

.link_hmb_grassetto {
  list-style-type: none;
  text-decoration: none;
  color: var(--main-color-black);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  font-size: larger;
}

.link_hmb {
  list-style-type: none;
  text-decoration: none;
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--main-color-black);
  padding: 10px 10px 10px 10px;
  font-size: medium;
}

.link_hmb_corsivo {
  list-style-type: none;
  text-decoration: none;
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--main-color-black);
  padding: 10px 10px 10px 10px;
  font-size: small;
}

.link_hmb_grassetto_red {
  list-style-type: none;
  text-decoration: none;
  color: rgba(220, 9, 9, 0.963);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  font-size: larger;
}

/* Fine Header CSS */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* INIZIO 1-BLOCCO-FOTO  E  INIZIO 2-BLOCCO-FOTO */
.contenitore-grigio p {
  margin: 0;
}

/* CONTENITORE GRIGIO SOTTO L'HEADER */
.contenitore-grigio {
  background-color: var(--main-colr-gray);
  padding: 16px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}

/* dimensioni immagini riempire l'intera larghezza della pagina*/
.main-img {
  width: 100%;
  display: block;
  z-index: 1;
}

/* predisposizione del contenitore principale per far centrare e contenere le immagini in pagia */
.container-principale {
  max-width: 100%;
  margin: auto;
  position: relative;
}

/* modifiche della prima scritta  h2  */
.scritte-immagini h2 {
  position: absolute;
  bottom: 135px;
  left: 40px;
  width: max-content;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 10px 5px;
  background-color: var(--main-color-white);
  margin: 0px;
}

/* modifiche seconda scritta paragrafo */
.scritte-immagini p {
  position: absolute;
  bottom: 75px;
  left: 40px;
  letter-spacing: 1px;
  width: max-content;
  font-size: 15px;
  background-color: var(--main-color-white);
  margin-bottom: 30px;
  margin-top: 7px;
  padding: 2px;
}

/*modifiche link acquista terza scritta e posizionamento a solo  */
.pulsante-acquista a {
  width: max-content;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: var(--main-color-white);
  padding: 15px 21px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 1;
}

/* modifiche cornice sotto il link acquista  */
.cornice-pulsante-acquista {
  width: 149px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--main-color-white);
  position: absolute;
  bottom: 25px;
  left: 42px;
}

/* modifiche colore cornice al pasaggio del mouse sul link acquista */
.sezione-pulsante-acquista:hover .cornice-pulsante-acquista {
  border: 1px solid gray;
}

/* modifiche svg play e posizionamento sulla parte destra alta della pagina */
.play svg {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 89%;
  margin-left: 95%;
}

/* modifiche colore dello sfondo dell'svg al passaggio del mouse */
.play svg:hover {
  background-color: var(--main-colr-gray);
}

/* contorno bianco attorno alle lineette del play */
.lineetta {
  stroke: var(--main-color-white);
  stroke-width: 1px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*Inizio css bodycontainer1*/
.container {
  /* margin: 40px 60px ; */
  margin-left: 110px;
  margin-right: 110px;
}

.bottoni h3 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 750;
}

.bottoni button {
  border: 1px solid grey;
  background-color: white;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.2s ease;
  font-family: var(--font-family);
}

.bottoni button:nth-child(1) {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.bottoni button:nth-child(1):hover {
  background-color: rgb(29, 29, 29);
  border: 1px solid rgb(74, 74, 74);
  color: white;
}

.bottoni button:nth-last-child(2):hover {
  background-color: rgb(238, 238, 238);
}

.bottoni button:nth-last-child(1):hover {
  background-color: rgb(238, 238, 238);
}
.arrow-left-1 {
  left: 0;
}

.arrow-right-1 {
  right: 0;
}
.container-1 {
  gap: 20px;
  overflow-x: auto;
  padding-top: 20px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.container-1::-webkit-scrollbar{
  display: none;
}
.container-1 .arrow{
  display: none;
}

.container-1:hover .arrow{
  display: block;
}

.cardcontainer {
  border: 0.5px solid white;
}

.cardcontainer:hover {
  border: 0.5px solid black;
}

.card1 {
  gap: 20px;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  transition: all 0.2s ease-in;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.heart svg {
  width: 25px;
  height: 25px;
}

.heart svg:hover {
  background-image: url(icons/wishlist-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.prezzo {
  position: absolute;
  top: 350px;
  right: 230px;
  width: 160px;
  height: 50px;
  border: none;
  background-color: white;
  transition: all 0.2s ease-in;
}

.prezzo p {
  margin: 0px;
  font-family: var(--font-family);
  text-align: left;
}

.prezzo p:nth-child(1) {
  color: red;
  font-size: 15px;
}

.original {
  text-wrap: nowrap;
  flex-direction: row;
  gap: 5px;
}

.original p:nth-child(1) {
  text-decoration: line-through;
  color: black;
  font-size: 14px;
}

.original p:nth-child(2) {
  color: red;
  font-size: 11px;
  margin-top: 2px;
}

.original p:nth-child(3) {
  font-size: 11px;
  margin-top: 2px;
}

.card:hover .prezzo {
  transform: translatey(-10px);
}

.textdescription {
  font-size: 13px;
  padding-left: 10px;
  letter-spacing: normal;
}

.textdescription p:nth-last-child(1) {
  color: rgb(160, 160, 160);
}

/*fine bodycontainer1*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*inizio bodycontainer.2*/
.container-card-2 {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.container-card-2::-webkit-scrollbar{
  display: none;
}

.card-2 {
  height: 50%;
  box-sizing: content-box;
  margin-right: 10px;
  border: 1px solid transparent;
}

.link {
  transform: translateY(50%);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid black;
  width: 45px;
  height: 45px;
  z-index: 10;
}

.arrow:hover {
  background-color: rgb(238, 235, 235);
}

.arrow-left-2 {
  left: 0;
}

.arrow-right-2 {
  right: 0;
}

.arrow svg {
  width: 30px;
  height: 30px;
}

.header-card {
  justify-content: space-between;
  margin-left: 108px;
  margin-right: 150px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.header-card h3 {
  font-size: 24px;
  margin: 5px 0px 0px;
  font-weight: 750;
}

.header-card .link a {
  font-size: 15px;
  color: black;
}

.header-card .link a:hover {
  background-color: black;
  color: white;
  transition: all;
}

.card-2:hover {
  border: 1px solid rgb(0, 0, 0);
  transform: none;
}

.card-2:hover .img-1 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_13_02_dmt_d_48446d9d29.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-2 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_19_02_dmt_d_b0ce93b4bf.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-3 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_21_02_dmt_d_23ed574f7e.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-4 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_6_02_dmt_d_b7a92ad234.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-5 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_9_02_dmt_d_b82ef01761.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-6 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_8_02_dmt_d_50e781a407.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-7 {
  content: url("https://brand.assets.adidas.com/image/upload/c_fill,f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920,ar_9:16/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_17_02_dmt_d_fab494d3bc.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.card-2:hover .img-8 {
  content: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_400,w_400/originals_ss25_shop_your_style_eu_launch_styling_details_page_gallery_look_look_28_02_dmt_d_b900fcf87f.png");
  transition: opacity 0.3 ease;
  width: 300px;
  height: auto;
}

.image img {
  width: 300px;
  height: auto;
}

.card-2 .footer p {
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: normal;
}

/*fine bodycontainer.2*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*Inizio bodycontainer3*/
.container-3 {
  gap: 20px;
  overflow-x: auto;
  padding-top: 20px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.container-3::-webkit-scrollbar{
  display: none;
}
.container-3 .arrow{
  display: none;
}

.container-3:hover .arrow{
  display: block;
}

.arrow-left-3 {
  left: 0;
}

.arrow-right-3 {
  right: 0;
}
.prezzo3 {
  position: absolute;
  top: 370px;
  right: 330px;
  width: 60px;
  height: 30px;
  border: none;
  background-color: white;
  transition: all 0.2s ease-in;
}

.prezzo3 p {
  margin: 0px;
  font-family: var(--font-family);
}

.card:hover .prezzo3 {
  transform: translatey(-10px);
}
.wrapper-card {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 50px;
}
/*Fine bodycontainer3*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*inizio bodycontainer.4*/
.container-card-4 {
  gap: 8px;
  overflow-x: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.wrapper-card-2-4 {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.wrapper-card-2-4 .arrow{
  display: none;
}

.wrapper-card-2-4:hover .arrow{
  display: block;
}

.arrow-left-4 {
  left: 0;
}

.arrow-right-4 {
  right: 0;
}

.card-4 {
  box-sizing: content-box;
  border: 1px solid white;
  width: 304px;
  height: 100%;
}

.card-4:hover {
  border: 1px solid rgb(0, 0, 0);
}

.card-4 .image-4 img {
  width: 298px;
  height: auto;
  padding-left: 2px;
}

.container-video {
  width: 300px;
}

.container-video video {
  width: 300px;
  height: 400px;
}

.card-4 .footer-card-4 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  font-size: 13px;
  letter-spacing:normal;
  
}


.footer-card-4 .link-sotto-p button {
  border: none;
  border: white;
  background-color: white;
  font-size: 14px;
  margin: 10px 0px 0px;
  color: black;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
}

.footer-card-4 .link-sotto-p button{
  display: inline-block;
  font-family: var(--font-family);
  padding: 0;
  width: 100%;
  height: auto;
  margin:0;
  text-align:left;
}

.footer-card-4 .link-sotto-p span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 24%;
  height: 1px;
  background-color: black;
}

.footer-card-4 span:hover {
  background-color: rgb(239, 237, 237);
}

.footer-card-4 h4 {
  margin: 0;
}

/*fine bodycontainer.4*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*Inizio footer*/
footer {
  flex-direction: column;
  overflow: hidden;
  transform: translate(-50% -50%);
  background-color: var(--main-color-white);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

.Footer-Main {
  flex-direction: column;
  transform: translate(-50% -50%);
  background-color: var(--main-color-black);
  color: var(--main-color-white);
  font-family: var(--font-family-cn);
  padding: 80px 0px;
  padding: 80px 0px;
  margin: 0;
  width: 100vw;
}

.Footer-Main h1 {
  text-align: center;
  font-size: var(--font-size-footer-large);
  width: var(--footer-width);
  margin: 0px;
}

.Footer-Main p {
  text-align: justify;
  font-size: var(--font-size-footer-base);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  width: var(--footer-width);
}

#Footer-Logo {
  margin-top: 20px;
  height: 55px;
  width: 55px;
  text-align: center;
}

.Footer-Buttons{
  display: none;
}

.Footer-Links-Tablet{
  display: none;
}

.Footer-Svg{
  display: none;
}

.Footer-Opinions{
  display: none;
}

.Footer-Newsletter {
  flex-direction: row;
  text-align: center;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  font-family: var(--font-family);
  font-size: var(--font-size-footer-medium);
  font-weight: bolder;
  gap: 30px;
  padding: 25px 0px;
  width: 100vw;
}

.Footer-Newsletter button {
  background-color: var(--main-color-black);
  color: var(--main-color-white);
  font-size: var(--font-size-footer-base);
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  border: 2px solid var(--main-color-black);
  border-style: outset;
  padding: 15px 20px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

.Footer-Newsletter button:hover {
  color: rgb(100, 100, 100);
}

.Footer-Links {
  justify-content: center;
  align-items: start;
  overflow: hidden;
  margin: 20px 0px 40px;
}

.Footer-Links h3 {
  margin: 10px 0 0 0;
}

.Footer-Links ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  list-style: none;
  gap: 15px;
  max-width: 150px;
  min-width: 120px;
}

.Footer-Links ul li {
  background-color: var(--main-color-white);
  font-size: var(--font-size-footer-base);
}

.Footer-Links a {
  color: var(--main-color-black);
  text-decoration: none;
}

.Footer-Links a:hover {
  text-decoration: underline;
}

.Footer-Desc {
  justify-content: center;
  align-items: left;
  color: var(--main-color-black);
  font-size: var(--font-size-footer-base);
  font-family: var(--font-family);
}

.Footer-Bottom {
  width: 100vw;
  overflow: hidden;
  background-color: var(--main-color-darkgray);
}

.Footer-Bottom ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 15px 0px;
}

.Footer-Bottom li {
  border-right: 1px solid var(--main-color-lightgray);
  font-size: var(--font-size-footer-small);
  padding-right: 15px;
}

.Footer-Bottom li:nth-child(5) {
  border-right: 0px solid;
}

.Footer-Bottom a {
  color: var(--main-color-lightgray);
  text-decoration: none;
}

/* MEDIA QUERY  */

/*ALFONSO*/
@media screen and (max-width: 1200px) {
  .last_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .black_line {
    color: var(--main-color-white);
  }


  .lista_link_1 {
    display: none;
  }

  .lista_link_2 {
    display: none;
  }

  .container_logo {
    display: none;
  }

  .icon_container {
    display: none;
  }

  .hidden_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    justify-content: start;
    flex-wrap: nowrap;
  }

  .hidden_container_logo {
    height: 48px;
    align-content: center;
    flex-wrap: nowrap;
  }

  .hidden_icon {
    gap: 25px;
    justify-content: end;
    flex-wrap: nowrap;
  }

  /*CRISTIAN E SILVIA*/
  .main-img {
    object-fit: cover;
    object-position: center;
    height: 600px; /* Adatta in base alle tue necessità */
  }

  .scritte-immagini h2 {
    bottom: 120px;
    left: 50px;
    font-size: 12px;
  }
  .scritte-immagini p {
    bottom: 60px;
    left: 50px;
    font-size: 12px;
  }
  .pulsante-acquista a {
    bottom: 20px;
    font-size: 12px;
    left: 50px;
  }
  .cornice-pulsante-acquista {
    width: 129px;
    height: 44px;
    bottom: 16px;
    left: 53px;
  }

  .play svg {
    margin-left: 93%;
  }
  #imgover {
    content: url("img/img-adidas-mobile.avif");
  }
  /*MONICA */
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .container-1:hover .arrow{
    display: none;

  }
  .container-3:hover .arrow{
    display: none;

  }
  .wrapper-card {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .card {
    width: 200px;
    height: 200px;
  }
  .card img {
    height: 200px;
  }
  .prezzo {
    top: 165px;
    left: 10px;
    width: 135px;
    height: 35px;
  }
  .prezzo p:nth-child(1) {
    font-size: 13px;
  }
  .original p:nth-child(1) {
    font-size: 11px;
  }
  .original p:nth-child(2) {
    font-size: 9px;
  }
  .original p:nth-child(3) {
    font-size: 9px;
  }
  .prezzo3 {
    top: 170px;
    left: 10px;
  }
  /* MORENA */
  .arrow {
    display: none;
  }
  .wrapper-card-2-4:hover .arrow{
    display: none;
  }
  
  .wrapper-card-2-4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .container-card-2{
    padding-left:50px;
    padding-right: 50px;
  } 

  .container-card-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-card {
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-card h3 {
    font-style: var(--font-family-bold);
  }
  
  /* MATTIA  */
  #tornasu{
    text-decoration: none;
    color: black;
  }
  .Footer-Main h1,
  .Footer-Main p {
    width: 60%;
  }
  .Footer-Newsletter {
    flex-direction: column;
    gap: 0;
  }
  .Footer-Opinions {
    display: block;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    background-color: lightgray;
  }
  .Footer-Opinions h3{
    font-size: 18px;
    margin: 0px 0px 15px 0px;
  }
  .Footer-Opinions a {
    color: black;
  }
  .Footer-Svg{
    display: flex;
    font-size: 14px;
    letter-spacing: 0;
    padding: 10px;
  }
  .Footer-Svg svg{
    width: 14px;
  }
  .Footer-Svg p{
    margin: 0px 0px 0px 10px;
  }
  .Footer-Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 15px;
    padding: 15px;
    background-color: black;
    font-weight: var(--font-weight);
  }
  .Footer-Buttons a{
    color: var(--main-color-white);
    text-decoration: none;
    letter-spacing: 0;
  }
  
  .Footer-Links-Tablet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5;
    text-align: center;
    padding: 15px 0px;
    background-color: var(--main-color-black);
    font-size: 12px;
    font-family: var(--font-family);
  }
  .Footer-Links-Tablet a{
    padding: 10px 15px;
    letter-spacing: 0;
    color: var(--main-color-white);
    text-decoration: none;
  }
  .Footer-Links{
    display: none;
  }

  .Footer-Desc{
    background-color: var(--main-color-black);
    color: var(--main-color-white);
    border-top: 1px solid var(--main-color-white);
    border-bottom: 1px solid var(--main-color-white);
    padding: 20px 15px 15px;
  }
  .Footer-Bottom{
    margin:0;
  }
  .Footer-Bottom ul{
    margin:0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
  }
  .Footer-Bottom li{
    width:40%;
    margin:15px 0;
    border-right: none;
  }
}

/*ALFONSO*/
@media screen and (max-width: 560px) {
  .black_line {
    color: var(--main-color-white);
  }

  #hidden_p {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    color: var(--main-color-white);
    position: absolute;
  }

  .lista_link_1 {
    display: none;
  }

  .lista_link_2 {
    display: none;
  }

  .container_logo {
    display: none;
  }

  .icon_container {
    display: none;
  }

  .hidden_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    justify-content: start;
    flex-wrap: nowrap;
  }

  .hidden_container_logo {
    height: 48px;
    align-content: center;
    flex-wrap: nowrap;
  }

  .hidden_icon {
    gap: 25px;
    justify-content: end;
    flex-wrap: nowrap;
  }
}
/* cristian e silvia */
@media screen and (max-width: 412px) {

  .scritte-immagini h2 {
  left: 20px;
  }
  .scritte-immagini p {
    left: 20px;
  }
  .pulsante-acquista a {
    left: 20px;
  }
  .cornice-pulsante-acquista {
    left: 22px;
  }
  .play svg{
    margin-left: 90%;
  }
}

@media screen and (max-width: 376px) {
  .arrow {
    display: none;
  }
  .wrapper-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .container-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    overflow-x: unset;
  }
  .container-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    overflow-x: unset;
  }
  .card {
    width: 170px;
    height: 170px;
  }
  .card img {
    height: 170px;
  }
  .heart svg {
    width: 20px;
    height: 20px;
  }
  .heart {
    top: 5px;
    right: 2px;
  }
  .prezzo {
    top: 130px;
    left: 0;
    width: 60px;
    height: 40px;
  }
  .original p:nth-last-child(1) {
    display: none;
  }
  .textdescription {
    display: none;
  }
  .prezzo3 {
    top: 140px;
    left: 0;
    width: 50px;
  }
  .bottoni {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    overflow-x: auto;
  }
  .bottoni button {
    flex: 1;
    width: 160px;
    max-width: 200px;
    white-space: nowrap;
  }
  .hide-on-mobile {
    display: none;
  }

  .header-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
  }

  .header-card h3 {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .wrapper-card-2-4 {
    margin-top: 5px;
  }
  .container-card-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-card-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-img {
    object-fit: cover;
    object-position: center center; /* Assicura il focus centrale */
    width: 100vw; /* Occupa tutta la larghezza dello schermo */
    height: 100vh; /* Occupa tutta l'altezza visibile */
}
.play svg{
  margin-left: 90%;
}
}
